<div id="supplier-form-content" ng-controller="SupplierCtrl">

    <h4>Nuevo Proveedor</h4>

    <br>
    <form name="supplier">
        <div>
            <label class="col-md-1">Nombre: </label>
            <div class="col-md-4">
                <input type="text" ng-model="supplier.name" class="form-control"  required different-words />
            </div>
        </div>
        <br>
        <div class="info-margin">
            <label class="col-md-1">Apellido Paterno: </label>
            <div class="col-md-4">
                <input type="text" ng-model="supplier.lastName" class="form-control" required one-word />
            </div>
        </div>
        <div>
            <label class="col-md-1">Apellido Materno: </label>
            <div class="col-md-4">
                <input type="text" ng-model="supplier.scndLstName" class="form-control" required one-word />
            </div>
        </div>

        <br>
        <div class="address-info">
            <div class="info-margin">
                <label class="col-md-1">Direcci&oacute;n: </label>
                <div class="col-md-4">
                    <input type="text" ng-model="supplier.address" class="form-control"  />
                </div>
            </div>
            <div>
                <label class="col-md-1">Colonia: </label>
                <div class="col-md-4">
                    <input type="text" ng-model="supplier.colony" class="form-control"  />
                </div>
            </div>
            <br>
            <div class="info-margin">
                <label class="col-md-1">Municipio: </label>
                <div class="col-md-4">
                    <input type="text" ng-model="supplier.city" class="form-control"  />
                </div>
            </div>
            <div>
                <label class="col-md-1">Estado: </label>
                <div class="col-md-4">
                    <input type="text" ng-model="supplier.state" class="form-control"  />
                </div>
            </div>
        </div>

        <br>
        <div class="contact-info">
            <div class="info-margin">
                <label class="col-md-1">Telefono:  </label>
                <div class="col-md-4">
                    <input type="text" ng-model="supplier.phone" class="form-control" only-digits/>
                </div>
            </div>
            <div>
                <label class="col-md-1">Celular: </label>
                <div class="col-md-4">
                    <input type="text" ng-model="supplier.celPhone" class="form-control" only-digits />
                </div>
            </div>
            <br>
            <div class="info-margin">
                <label class="col-md-1">E-mail: </label>
                <div class="col-md-4">
                    <input type="email" ng-model="supplier.email" class="form-control" />
                </div>
            </div>
        </div>
    </form>

    <br>
    <div class="input-group-btn save-button">
        <button type="button" class="btn btn-primary" ng-click="saveSupplier()">
            <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
    </div>
</div>