#left-menu {
    width: 200px;
    float: left;
    margin-left: 25px;
}
#allure-content {
    margin-left: 250px;
    margin-right: 25px;
}
#options {
    float: right;
    margin-right: 250px;
}
#delete {
    margin-left: 5px;
}
#supplier-content, #stock-content {
    margin-right: 300px;
}
#stock-form-content, #supplier-form-content {
    margin-left: 50px;
}
.panel-address {
    margin-right: 500px;
}
.info-margin {
    margin-top: 2%;
}
.address-info, .contact-info {
    margin-top: 5%;
}
.save-button {
    float: right;
    margin-top: 3%;
    margin-right: 25%;
}