#left-menu {
    width: 200px;
    float: left;
    margin-left: 25px;
}
#allure-content {
    margin-left: 250px;
    margin-right: 25px;
}
#options {
    float: right;
    margin-right: 250px;
}
#delete {
    margin-left: 5px;
}
#supplier-content, #stock-content {
    margin-right: 300px;
}
#stock-form-content {
    margin-left: 50px;
}
.panel-address {
    margin-right: 500px;
}