<div id="stock-form-content">
    <h4> Nuevo componente </h4>
    <br>

    <form ng-controller="StockCtrl" name="item" id="item-form">
        <div ng-show="message != null" class="bg-danger">
            <label >{{message}}</label>
            <br>
        </div>
        <div class="input-group-btn" style="float: right; margin-right: 350px;">
            <button type="submit" class="btn btn-primary" ng-click="saveItem()">
                <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
            </button>
        </div>
        <div>
            <div class="col-md-1">
                <strong>Nommbre componente: </strong>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="app.item.itemName" class="form-control" required />
            </div>
            <div class="col-md-1">
                <strong>Stock: </strong>
            </div>
            <div class="col-md-1">
                <input type="text" ng-model="app.item.itemStock" class="form-control" only-digits />
            </div>

            <br />
            <br />
            <br />
            <div class="col-md-1">
                <strong>Precio de tienda: </strong>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="app.item.itemPrice" class="form-control"/>
            </div>
            <div class="col-md-1">
                <strong>Precio de Renta: </strong>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="app.item.itemRent" class="form-control" required/>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="panel panel-primary panel-address">
            <div class="panel-heading panel-primary">
                Agregar Tienda
            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    <strong>Nombre de la tienda: </strong>
                </div>
                <div class="col-md-8">
                    <input type="text" ng-model="app.item.store.storeName" class="form-control" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-2">
                    <strong>Calle y #: </strong>
                </div>
                <div class="col-md-8">
                    <input type="text" ng-model="app.item.store.storeAdd" class="form-control" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-2">
                    <strong>Colonia: </strong>
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="app.item.store.storeCol" class="form-control" />
                </div>
                <div class="col-md-2">
                    <strong>Ciudad: </strong>
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="app.item.store.storeCity" class="form-control" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-2">
                    <strong>Estado: </strong>
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="app.item.store.storeState" class="form-control" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-2">
                    <strong>Telefono: </strong>
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="app.item.store.storePhone" class="form-control" />
                </div>
                <div class="col-md-2">
                    <strong>Celular: </strong>
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="app.item.store.storeCel" class="form-control" />
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-2">
                    <strong>E-mail: </strong>
                </div>
                <div class="col-md-8">
                    <input type="text" ng-model="app.item.store.storeEmail" class="form-control" />
                </div>
            </div>
        </div>
        <!--
        <br />
        <div class="col-md-2">
            <strong>Imagen del componente: </strong>
        </div>
        <div class="input-group col-md-6">
            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                <span class="file-caption-ellipsis">…</span>
                <div class="file-caption-name"></div>
            </div>
            <div class="input-group-btn">
                <button type="button" title="Clear selected files" class="btn btn-default fileinput-remove fileinput-remove-button">
                    <i class="glyphicon glyphicon-trash"></i> Remove
                </button>
                <button type="button" title="Abort ongoing upload" class="hide btn btn-default fileinput-cancel fileinput-cancel-button">
                    <i class="glyphicon glyphicon-ban-circle"></i> Cancel
                </button>
                <button type="submit" title="Upload selected files" class="btn btn-default kv-fileinput-upload fileinput-upload-button">
                    <i class="glyphicon glyphicon-upload"></i> Upload
                </button>
                <div class="btn btn-primary btn-file">
                    <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse …
                    <input id="input-24" type="file" multiple="true" class="">
                </div>
            </div>
        </div>-->

    </form>
</div>