<h4> Inventario </h4>

<br />
<div id="options">
    <a href="#agregarItem" id="add">
        <span class="glyphicon glyphicon-plus">Agregar</span>
    </a>

    <a href="#" id="delete">
        <span class="glyphicon glyphicon-trash">Eliminar</span>
    </a>
</div>
<br />
<br />
<div id="stock-content">
    <table class="table table-striped">
        <thead
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-5">Componente/Articulo</th>
            <th class="col-md-3">Cantidad</th>
            <th class="col-md-3">Precio de Renta</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stock in stocks" ng-show="stocks.length > 0">
                <td class="col-md-1">
                    <input type="checkbox" ng-click="addToList(stock.itemId)" />
                </td>
                <td class="col-md-5">
                    <a href="#">{{stock.itemName }}</a>
                </td>
                <td class="col-md-3">
                    {{stock.itemStock}}
                </td>
                <td class="col-md-3">
                    {{stock.itemRent}}
                </td>
                <td class="col-md-2">
                    <a href="#" > <span class="glyphicon  glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
            <tr ng-show="stocks.length == 0">
                <td colspan="4">
                    <strong>No hay ningun articulo en el inventario, favor de agregar nuevos articulos</strong>
                </td>
            </tr>
        </tbody>
    </table>

</div>