<!DOCTYPE html>
<html ng-app="allureApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Allure Eventos</title>

    <!-- CSS -->
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="css/allure.css" rel="stylesheet" />

    <!-- JS -->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular/angular-route.js"></script>
    <script type="text/javascript" src="libs/angular/angular-resource.js"></script>
    <script type="text/javascript" src="libs/jquery/jquery.js"></script>
    <script type="text/javascript" src="libs/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="libs/bootstrap-fileinput/js/fileinput.min.js"></script>

    <script type="text/javascript" src="module/app.js"></script>
    <script type="text/javascript" src="allure/AllureCtrl.js"></script>
    <script type="text/javascript" src="allure/allure-directives.js"></script>
    <script type="text/javascript" src="allure/allure-service.js"></script>
    <script type="text/javascript" src="supplier/SupplierCtrl.js"></script>
    <script type="text/javascript" src="supplier/supplier-service.js"></script>
    <script type="text/javascript" src="event/EventsCtrl.js"></script>
    <script type="text/javascript" src="customer/CustomerCtrl.js"></script>
    <script type="text/javascript" src="stock/StockCtrl.js"></script>
    <script type="text/javascript" src="stock/stock-services.js"></script>
    <script type="text/javascript" src="event/event-service.js"></script>


</head>
<body ng-controller="AllureCtrl">

    <div id="allure-header">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <h2>Allure Eventos</h2>
            </div>
        </nav>
    </div>

    <div id="left-menu">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="option in app.menu" ng-class="{active: option.nav === activeOption}">
                <a href="#{{option.nav}}" ng-click="changeMenu(option.nav)">
                    <span ng-class="option.icon" aria-hidden="true"> {{option.label}}</span>
                </a>
            </li>
        </ul>
    </div>

    <div ng-view id="allure-content"></div>

    <div id="allure-footer">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">

            </div>
        </nav>
    </div>
</body>
</html>